<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.messageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.bean.message">
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="send_id" jdbcType="INTEGER" property="sendId" />
    <result column="accept_id" jdbcType="INTEGER" property="acceptId" />
    <result column="real_send_id" jdbcType="INTEGER" property="realSendId" />
    <result column="real_accept_id" jdbcType="INTEGER" property="realAcceptId" />
    <result column="info_content" jdbcType="VARCHAR" property="infoContent" />
    <result column="info_time" jdbcType="TIMESTAMP" property="infoTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="msgtype" jdbcType="TINYINT" property="msgtype" />
  </resultMap>
  <resultMap id="msglastMap" type="com.example.demo.bean.returndata.msglast">
    <id column="info_id" jdbcType="INTEGER" property="info_id" />
    <result column="accept_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_avator_url" jdbcType="VARCHAR" property="avatar_url" />
    <result column="info_time" jdbcType="TIMESTAMP" property="time" />
    <result column="info_content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="msgtype" jdbcType="TINYINT" property="msgtype" />
  </resultMap>
  <sql id="Base_Column_List">
    info_id, send_id, accept_id, real_send_id, real_accept_id, info_content, info_time, 
    status,msgtype
  </sql>

  <!--查询两个用户之间的聊天记录-->
  <select id="getMessageBefore" parameterType="java.lang.Integer" resultType="com.example.demo.bean.returndata.msgInfo">
   select info_id,real_send_id,info_content,`status`,info_time,msgtype
    from message
    where send_id=#{userId} and accept_id=#{anotherId}
    limit #{start},#{count}
  </select>

  <!--查询某个用户的最近消息列表-->
  <select id="getLastMessageById" parameterType="java.lang.Integer" resultMap="msglastMap">
    select info_id,accept_id,user_nickname,user_avator_url,info_time,info_content,`status`,msgtype
    from message m,alluser u
    where m.info_id in(select
                            SUBSTRING_INDEX(GROUP_CONCAT( info_id order by info_time desc),',',1)from message
                            where send_id = #{userId,jdbcType=INTEGER}
                            group by accept_id
                            order by info_time desc) and m.accept_id=u.user_id
    order by m.info_time desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where info_id = #{infoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where info_id = #{infoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.bean.message">
    insert into message (info_id, send_id, accept_id, 
      real_send_id, real_accept_id, info_content, 
      info_time, status,msgtype)
    values (#{infoId,jdbcType=INTEGER}, #{sendId,jdbcType=INTEGER}, #{acceptId,jdbcType=INTEGER}, 
      #{realSendId,jdbcType=INTEGER}, #{realAcceptId,jdbcType=INTEGER}, #{infoContent,jdbcType=VARCHAR}, 
      #{infoTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},#{msgtype,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.bean.message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        info_id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="acceptId != null">
        accept_id,
      </if>
      <if test="realSendId != null">
        real_send_id,
      </if>
      <if test="realAcceptId != null">
        real_accept_id,
      </if>
      <if test="infoContent != null">
        info_content,
      </if>
      <if test="infoTime != null">
        info_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="msgtype != null">
        msgtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="acceptId != null">
        #{acceptId,jdbcType=INTEGER},
      </if>
      <if test="realSendId != null">
        #{realSendId,jdbcType=INTEGER},
      </if>
      <if test="realAcceptId != null">
        #{realAcceptId,jdbcType=INTEGER},
      </if>
      <if test="infoContent != null">
        #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null">
        #{infoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null">
        #{msgtype,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.bean.message">
    update message
    <set>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=INTEGER},
      </if>
      <if test="acceptId != null">
        accept_id = #{acceptId,jdbcType=INTEGER},
      </if>
      <if test="realSendId != null">
        real_send_id = #{realSendId,jdbcType=INTEGER},
      </if>
      <if test="realAcceptId != null">
        real_accept_id = #{realAcceptId,jdbcType=INTEGER},
      </if>
      <if test="infoContent != null">
        info_content = #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null">
        info_time = #{infoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null">
        msgtype = #{msgtype,jdbcType=TINYINT},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.message">
    update message
    set send_id = #{sendId,jdbcType=INTEGER},
      accept_id = #{acceptId,jdbcType=INTEGER},
      real_send_id = #{realSendId,jdbcType=INTEGER},
      real_accept_id = #{realAcceptId,jdbcType=INTEGER},
      info_content = #{infoContent,jdbcType=VARCHAR},
      info_time = #{infoTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
      msgtype = #{msgtype,jdbcType=TINYINT}
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
</mapper>